<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.msmd.api.dao.LoginUserDAO">

    <resultMap id="userMap" type="net.msmd.api.bean.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id" javaType="Integer"></id>
        <result column="user_name" jdbcType="VARCHAR" property="userName" javaType="String"></result>
        <result column="password" jdbcType="VARCHAR" property="password" javaType="String"></result>
        <result column="user_age" jdbcType="INTEGER" property="userAge" javaType="Integer"></result>
        <result column="gmt_create_time" jdbcType="DATE" property="gmtCreateTime" javaType="String"></result>
        <result column="gmt_modified_time" jdbcType="DATE" property="gmtModifiedTime" javaType="String"></result>
        <result column="status" jdbcType="INTEGER" property="status" javaType="Integer"></result>
    </resultMap>

    <resultMap id="tokenMap" type="net.msmd.api.bean.LoginUser">
        <id column="id" jdbcType="INTEGER" property="id" javaType="Integer"></id>
        <result column="user_name" jdbcType="VARCHAR" property="userName" javaType="String"></result>
        <result column="password" jdbcType="VARCHAR" property="password" javaType="String"></result>
    </resultMap>
    <sql id="tokenSql">
        id,
        user_name,
        password
    </sql>

    <sql id="userSql">
        id,
        user_name,
        user_age,
        password,
        gmt_create_time,
        gmt_modified_time,
        status
    </sql>

    <select id="getUser" resultMap="userMap" resultType="net.msmd.api.bean.LoginUser">
        SELECT
        <include refid="userSql"/>
        FROM
        test_table
        WHERE
        user_name = #{userName}
        AND
        password = #{password}
    </select>

    <select id="findUserById" resultMap="tokenMap">
        SELECT
        <include refid="tokenSql"></include>
        FROM
        test_table
        WHERE
        id = #{id}
    </select>

</mapper>