<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.msmd.api.dao.TestDao">

    <resultMap id="testBean" type="net.msmd.api.bean.TestBean">
        <id column="id" jdbcType="INTEGER" property="userID" javaType="Integer"></id>
        <result column="user_name" jdbcType="VARCHAR" property="userName" javaType="String"></result>
        <result column="password" jdbcType="VARCHAR" property="password" javaType="String"></result>
        <result column="user_age" jdbcType="INTEGER" property="userAge" javaType="Integer"></result>
        <result column="gmt_create_time" jdbcType="DATE" property="gmtCreateTime" javaType="String"></result>
        <result column="gmt_modified_time" jdbcType="DATE" property="gmtModifiedTime" javaType="String"></result>
        <result column="status" jdbcType="INTEGER" property="status" javaType="Integer"></result>
    </resultMap>

    <sql id="test">
        id,
        user_name,
        password,
        user_age,
        gmt_create_time,
        gmt_modified_time,
        status
    </sql>

    <select id="getTest" resultMap="testBean">
        SELECT
        <include refid="test"/>
        FROM
        test_table
    </select>

</mapper>